<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增职员对应表')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-zhiyuanxinxi-add">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">源名字：</label>
                    <div class="col-sm-8">
                        <input name="源名字" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">目标名字：</label>
                    <div class="col-sm-8">
                        <input name="目标名字" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">源组织：</label>
                    <div class="col-sm-8">
                        <input name="源组织" class="form-control" type="text">
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label">目标组织：</label>
                    <div class="col-sm-8">
                        <input name="目标组织" class="form-control" type="text">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "zhiyuanxinxi/zhiyuanxinxi"
        $("#form-zhiyuanxinxi-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-zhiyuanxinxi-add').serialize());
            }
        }
    </script>
</body>
</html>